#form{
    display: inline-block;
    border: 1px black solid;
    border-radius: 5%;
    padding: 10px;
    text-align: left;
    box-shadow: 10px 10px 15px rgba(26, 23, 23, 0.479);
    margin: auto;
}

.close_form{
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

input{
    margin: 10px;
    border: none;
    border-bottom: 1px solid green;
    height: 25px;
    transition: 0.5s;
}

input:focus {
    background-color: rgba(0, 128, 0, 0.39);
    border: none;
}

input:hover[type=text] {
    box-shadow: 5px 5px 5px rgba(26, 23, 23, 0.479);
    background-color: rgb(187, 179, 169);
    transition: 0.5s;
}
input:hover[type=password] {
    box-shadow: 5px 5px 5px rgba(26, 23, 23, 0.479);
    background-color: rgb(187, 179, 169);
    transition: 0.5s;
}
input:hover[type=email] {
    box-shadow: 5px 5px 5px rgba(26, 23, 23, 0.479);
    background-color: rgb(187, 179, 169);
    transition: 0.5s;
}
input:hover[type=number] {
    box-shadow: 5px 5px 5px rgba(26, 23, 23, 0.479);
    background-color: rgb(187, 179, 169);
    transition: 0.5s;
}

label {
    display: inline-block;
    width: 70px;
}

.button_send {
    margin: auto;
    width: 100px;
    height: 30px;
    border-radius: 15%;
    background-color:  green;
    color: white;
    border: none;
    box-shadow: 5px 5px 15px rgba(26, 23, 23, 0.479);
    transition: 0.5s;
}

.button_send:hover {
    width: 105px;
    height: 35px;
    background-color: rgba(0, 128, 0, 0.719);
}
